/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a background color and set text color */
  .terms-and-conditions {
    background-color: #f7f7f7;
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .tac{
    text-align: center;
    text-decoration: underline;
  }
  
  /* Style headings */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Style paragraphs */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Add a border to separate sections */
  h2 + p {
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  /* Style links */
  a {
    color: #007bff;
    text-decoration: none; /* Remove underlines from links */
  }
  
  /* Style link on hover */
  a:hover {
    color:#0056b3;
}
.name2
{
    font-family: 'Poppins';
    color: #ff00bf;
}
.cancel
{
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    left:100px
    
}