/* FeedbackForm.css */
.feedback-form {
  position: absolute;
  /* display: flex; */
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    top:70px;
    left:300px;
    font-family: 'Poppins';
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    background-color: #fff;
  }
 
  .feedback-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 89%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .boom
  {
    display: flex;
    flex-direction:row;
    justify-content:right;
    padding:10px 10px
  }
  