@import url('https://fonts.googleapis.com/css?family=Boogaloo');
.footer {
    background-color:#f0f0f0;
    color: rgb(4, 4, 4); 
    padding: 5px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Boogaloo';
    z-index: 99;
  }
  .ft a:hover{
    color: red;
  }
  .ft :hover{
    color: red;
  }

  .foot{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
  }
  .footer .linked{
    color: white;

  }
  .ft a{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
