.metric {
    background-color: rgb(227, 231, 252);
  
  }
  
  
  .conin1{
        position:absolute;
        left: 300px;
        top:120px;
        width: 270px;
        height: 280px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        
    }
    .conin2{
        position:absolute;
        left: 620px;
        top:120px;
        width: 270px;
        height: 280px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
    .conin3{
        position:absolute;
        left: 940px;
        top:120px;
        width: 270px;
        height: 280px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
    .conin4{
        position:absolute;
        left: 90px;
        top:1100px;
        width: 400px;
        height: 500px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        overflow: hidden; 
        border-radius: 10px;
    }
    .conin5{
        position:absolute;
        left: 565px;
        top:1100px;
        width: 400px;
        height: 500px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        overflow: hidden; 
        border-radius: 10px;
    }
    .conin6{
        position:absolute;
        left: 1035px;
        top:1100px;
        width: 400px;
        height: 500px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        overflow: hidden; 
        border-radius: 10px;
    }
    .conin7{
        position:absolute;
        left: 90px;
        top:1630px;
        width: 400px;
        height: 500px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        overflow: hidden; 
        border-radius: 10px;
    }
  
  
   .c1 {
            position: absolute;
            left: 0px;
            top:0px;
            width: 450px;
            height: 220px;
            transition: 0.3s;
        transform: scale(1);
        transition: .3s ease-in-out;
        }
        .c1:hover{
      transform: scale(1.05);
        }
        .c2 {
            position: absolute;
            left: 0px;
            width: 300px;
            top: 0px;
            height: 220px;
            object-fit: cover;
          
            transition: 0.3s;
    
        transform: scale(1);
    
        transition: .3s ease-in-out;
        }
        .c2:hover{
         
            transform: scale(1.05);
        }
        .c3 {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 360px;
            height: 220px;
            object-fit: cover;
            transition: 0.3s;
        transform: scale(1);
        transition: .3s ease-in-out;
        }
        .c3:hover{
        
            transform: scale(1.05);
        }
        .c4 {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 450px;
            height: 350px;
            object-fit: cover;
            transition: 0.3s;
        transform: scale(1);
        transition: .3s ease-in-out;
        }
        .c4:hover{
    
            transform: scale(1.05);
        }
        .ctxt1 a{
            position: absolute;
            font-style: 'Poppins';
            font-weight: 500;
            font-size: 17px;
             top:270px;
            text-decoration: none;
            color: #000000;
        }
        .ctxt1 a:hover{
            color: red;
        }
        .c11{
            position: relative;
            left: 90px;
            width: 450px;
            height: 120px;
            top: 830px;
        }
  
  