.bottom-topic
{
  display:flex;
  flex-direction: row;
  font-family:'Poppins';
  justify-content: center;
}
.para
{
  display: flex;
  font-family:'Gill Sans';
  font-size: 16px;
  flex-direction: column;
  padding: 100px;
}
.tick
{
  position: absolute;
  left: 110px;
  top:300px;
  font-size:22px;
  font-family: 'Poppins';
  color:red;
}
.women
{
  display:flex;
  

}
  .heading1{
    display: flex;
    justify-content: center;
  }
  .topic
  {
    display:flex;
    color: #ff00bf;
  }
  .sub-topic
  {
    display:flex;
  }
  .manjal
  {
    display:flex;
    justify-content: center;
  }
  .login1 {
    display: flex;
    flex-direction:row;
    justify-content:center;
    inline-size: 0%;
    width: 10%;
    top:520px;
    color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #4204ec;;
    border-radius: 5px;
    background-color: #4204ec;;
    box-shadow: 1px 2px 3px #4204ec;
    transition: all 120ms ease-in;
    outline: none;
    cursor: pointer;
  }
  .login1:hover {
    box-shadow: 1px 3px 5px #4204ec;
    transform: translateY(-1px);
  }
  .login1:active,
  .login1:visited {
    transform: translateY(1px);
    outline: none;
    box-shadow: 1px 2px 3px #4204ec;
  }

  .lotte
  {
    display:flex;
    justify-content:right;
    align-items:flex-start;
    flex-direction:row;
  }

.insta
{
  display:flex;
  flex-direction:row;
  justify-content:left;
  font-size: 29px;
  color: black;
}
.social
{
  padding: 0px 70px 40px;
}
.twiter
{
  display:flex;
  flex-direction:row;
  justify-content: eft;
  font-size: 29px;
  color: black;
  /* padding: 0px 70px 0px; */
}
.fb
{
  display:flex;
  flex-direction:column-reverse;
  font-size: 29px;
  color: black;
}
.poto
{
  display:flex;
  flex-direction: column-reverse;
  padding-top: 55px;
  align-items: center;
  z-index: -1;
  
}






 