.icon {
    vertical-align: middle;
    line-height: 1px;
    color: rgb(255, 255, 255);

    font-size: 20px;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  .menu-icon
  {
    color: rgb(238, 0, 238);
    font-size: 20px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  /* Header  */
  .header {
    grid-area: header;
    position: fixed;
    height: 70px;
    width: 1290px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    color: #ff00bf;
    background-color: #181818;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
    z-index: 99;
  }
  .header.active
  {
    font-weight: 300;
  }
  .header-right{
    position:absolute;
    left: 1130px;
  }
  .header-right :hover{
    color:#ff00bf;
  }

  .n a{

      text-decoration: none;
      margin-left: 20px;
      color: aliceblue;
    }
    .n {
        position: absolute;
        left: 200px;
        margin-left: 700px;
}
.n a:hover{
  color: #ff00bf;
}
.user-name{

  position: absolute;
  margin-left: 0px;
  color: aliceblue;
  left:1160px;
}
.user-name a{
}
.user-name:hover{
  color: #ff00bf;
}
