.co1{
    position:absolute;
    left: 300px;
    top:120px;
    width: 170px;
    height: 210px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;  
}
.cb114:hover{
  transform: scale(1.05);
}
.cb114{
  position:absolute;
  left: 520px;
  top:110px;
  width: 470px;
  height: 210px;
  object-fit: cover;
  transition: 0.3s;
   transform: scale(1);
    color: black;
   transition: .3s ease-in-out;
   font-family: 'Poppins';
}
.cb11{
  position:absolute;
  left: 520px;
  top:110px;
  width: 470px;
  height: 210px;
}
.co2{
  position:absolute;
  left: 770px;
  top:120px;
  width: 170px;
  height: 210px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;  
}
.cb115{
  position:absolute;
  left: 970px;
  top:110px;
  width: 270px;
  height: 210px;
  object-fit: cover;
  transition: 0.3s;
   transform: scale(1);
    color: black;
   transition: .3s ease-in-out;
   font-family: 'Poppins';
}